.struck {
	/* styles completed todos */
	text-decoration: line-through;
}

.faded-red {
	/* 70% translucent red per MDN color page */
	/* styles deleted todos */
	color: rgba(255, 0, 0, 0.7);
}

.active-removed {
	/* styles active todos that are filtered out */
	display: none;
}

.completed-removed {
	/* styles completed todos that are filtered out */
	display: none;
}

.deleted-removed {
	/* styles deleted todos that are filtered out */
	display: none;
}

.inactive {
	/* styles inactive buttons */
	display: none;
}

.collapsed {
	/* styles collapsed child todos */
	display: none;
}

.highlighted {
	/* styles selected todos */
	background-color: rgba(211, 211, 211, 0.5);
}
li > ul {
	margin-top: 1em;
}
