.struck {
	text-decoration: line-through;
}

.faded {
	/* 50% translucent per MDN color page */
	color: rgba(0, 0, 0, 0.5);
}

.removed {
	display: none;
}

.inactive {
	display: none;
}

.collapsed {
	display: none;
}

.highlighted {
	background-color: rgba(211, 211, 211, 0.5);
}
